[Unit]
Description=ProjectName micro service 
After=syslog.target ms-service-registry.service

[Service]
Type=simple
ExecStart=/bin/sh -c "/var/bppa-apps/JarName --spring.profiles.active=dvit >> /var/logs/ProjectName.log"
RestartSec=30
Restart=on-failure
SuccessExitStatus=143

[Install]
WantedBy=default.target
